{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sermon</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ entity.time|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Audio</th>
                <td>{{ entity.audio }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sermon') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sermon_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
