{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Namefirst</th>
                <th>Namelast</th>
                <th>Notes</th>
                <th>Datecreated</th>
                <th>Email</th>
                <th>Phonecell</th>
                <th>Phonehome</th>
                <th>Addrfirst</th>
                <th>Addrsecond</th>
                <th>Addrcity</th>
                <th>Addrstate</th>
                <th>Addrzip</th>
                <th>Addrcountry</th>
                <th>Facebook</th>
                <th>Baptized</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': entity.id }) }}">{{ entity.nameFirst }}</a></td>
                <td>{{ entity.nameLast }}</td>
                <td>{{ entity.notes }}</td>
                <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.phoneCell }}</td>
                <td>{{ entity.phoneHome }}</td>
                <td>{{ entity.addrFirst }}</td>
                <td>{{ entity.addrSecond }}</td>
                <td>{{ entity.addrCity }}</td>
                <td>{{ entity.addrState }}</td>
                <td>{{ entity.addrZip }}</td>
                <td>{{ entity.addrCountry }}</td>
                <td>{{ entity.facebook }}</td>
                <td>{{ entity.baptized }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('person_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('person_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('person_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
