{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Namefirst</th>
                <td>{{ entity.nameFirst }}</td>
            </tr>
            <tr>
                <th>Namelast</th>
                <td>{{ entity.nameLast }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ entity.notes }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Phonecell</th>
                <td>{{ entity.phoneCell }}</td>
            </tr>
            <tr>
                <th>Phonehome</th>
                <td>{{ entity.phoneHome }}</td>
            </tr>
            <tr>
                <th>Addrfirst</th>
                <td>{{ entity.addrFirst }}</td>
            </tr>
            <tr>
                <th>Addrsecond</th>
                <td>{{ entity.addrSecond }}</td>
            </tr>
            <tr>
                <th>Addrcity</th>
                <td>{{ entity.addrCity }}</td>
            </tr>
            <tr>
                <th>Addrstate</th>
                <td>{{ entity.addrState }}</td>
            </tr>
            <tr>
                <th>Addrzip</th>
                <td>{{ entity.addrZip }}</td>
            </tr>
            <tr>
                <th>Addrcountry</th>
                <td>{{ entity.addrCountry }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ entity.facebook }}</td>
            </tr>
            <tr>
                <th>Baptized</th>
                <td>{{ entity.baptized }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('person') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('person_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
