
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {%- if title is defined -%}
        {%- for element in title -%}
          {{ element|title }} &middot;
        {% endfor -%}
      {%- endif -%}
      Something Greater</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Alistair King">
    
    {% block styleblock %}
    {% stylesheets 
    'bundles/hopechurchgreater/libs/bootstrap/css/bootstrap.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}

    <style>
      body {
      padding-top: 60px;
      }
      @media (max-width: 979px) {
      body {
      padding-top: 0;
      }
      }
    </style>

    <script type="text/javascript">
      {% block head_js %}{% endblock %}
    </script>
  </head>
  
  <body>
    {% spaceless %}
    {{
    knp_menu_render(
      'topNav',
      {'template': 'HopeChurchGreaterBundle:Menu:topnav.html.twig'}
    )
    }}
    {% endspaceless %}

    {#
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
	    {% for page, subpages in nav_pages %}
            {% if subpages|length > 0 %}
            <li class="dropdown {% if page == active_page %}active{% endif %}">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		{{ page|title }}
                <b class="caret"></b>
	      </a>
              <ul class="dropdown-menu">
                {% for subpage in subpages %}
                <li {% if page == active_page and subpage == active_subpage %}class="active"{% endif %}>
	          <a href="{{ path(route, {'page': page, 'subpage': subpage}) }}">
		    {{ subpage|title }}
	          </a>
                </li>
                {% endfor %}
              </ul>
	    </li>
            {% else %}
	    <li {% if page == active_page %} class="active" {% endif %}>
	      <a href="{{ path(route, {'page': page}) }}">
		{{ page|title }}
	      </a>
	    </li>
            {% endif %}
	    {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    #}
    
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    
</div>

{% block jsblock %}
{% javascripts 
'bundles/hopechurchgreater/libs/jquery/js/jquery-1.9.1.min.js'
'bundles/hopechurchgreater/libs/bootstrap/js/bootstrap.js' 
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
</body>
</html>


